{
  "openapi": "3.1.1",
  "info": {
    "title": "notefeed API",
    "version": "1",
    "description": "Post markdown notes to a feed, read them back. See https://docs.notefeed.me/\n\nEvery error is JSON, `{\"error\": \"...\", \"code\": \"...\"}`. Besides the responses listed per operation, an unknown path under /api/v1 answers 404 (`not_found`) and a method an operation doesn't have answers 405 with `Allow`.",
    "license": {
      "name": "AGPL-3.0-only",
      "identifier": "AGPL-3.0-only"
    }
  },
  "servers": [
    {
      "url": "https://notefeed.me"
    }
  ],
  "tags": [
    {
      "name": "Feeds",
      "description": "By the feed's name, the write key. Need the instance password when one is set."
    },
    {
      "name": "Read",
      "description": "By the feed's read id. Public and read-only."
    },
    {
      "name": "Meta",
      "description": "About the API itself."
    }
  ],
  "paths": {
    "/api/v1/feeds/{feed}/notes": {
      "post": {
        "operationId": "postNote",
        "summary": "Post a note",
        "description": "Creates the feed with its first note, optionally protected by its own password (`X-Feed-Password` header or a `password` field in the JSON or form body; 1 to 256 printable ASCII characters, with no space at the start or end). Posting to a protected feed needs that password. Also served at `POST /{feed}`, the short form the client packages and curl one-liners use. A markdown body is at most 102400 bytes and must be UTF-8. A body that is an image (`image/png`, `image/jpeg`, `image/gif`, `image/webp` or `application/octet-stream`) is posted as a note of its own: PNG, JPEG, GIF or WebP, recognized by its first bytes, whatever `Content-Type` is sent (SVG is refused). It is stored byte for byte, with no resizing and no metadata stripped (EXIF such as GPS position stays in the file), at most NOTEFEED_MAX_IMAGE_BYTES (default 5 MiB). The response has its `file` and a `file_url` under the feed's read id, public like the read link. `X-Note-Name` gives the picture's original file name. A multipart form may send a `file` part instead of `markdown`. `application/x-www-form-urlencoded` (what `curl -d` sends) is read as raw markdown, not as form fields. `read_id` (JSON or form field) is the feed's read id when this post creates it: random when left out, ignored for a feed that exists. Tags (at most 10 tags, each 1 to 32 characters of letters, digits, `-`, `_`, `.` and `:`; case is folded to lowercase, duplicates are removed) go in the JSON `tags` array, a repeated `tags` form field, or, for a raw body, the `X-Note-Tags` header.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Note-Tags",
            "in": "header",
            "required": false,
            "description": "Tags for the note, comma-separated (`ci,deploy`): at most 10 tags, each 1 to 32 characters of letters, digits, `-`, `_`, `.` and `:`; case is folded to lowercase, duplicates are removed. For a raw markdown body; a JSON or form body's own `tags` wins. Empty is none.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Note-Name",
            "in": "header",
            "required": false,
            "description": "For an image body: the picture's original file name, kept with the note (at most 200 characters)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/markdown": {
              "schema": {
                "type": "string"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostJson"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PostForm"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "image/gif": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Created"
                }
              }
            }
          },
          "303": {
            "description": "Only when the request accepts `text/html` (a browser submitting a form): back to the feed page with `?posted=<id>` or `?error=<code>`, or to the login page",
            "headers": {
              "Location": {
                "description": "Where to go",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or reserved feed name; empty note; bad JSON, form or UTF-8; a new password that is not printable ASCII; invalid tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A password was sent for a feed that already exists without one: it can't be claimed; or the chosen `read_id` is taken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "A markdown body over 102400 bytes, or an image over NOTEFEED_MAX_IMAGE_BYTES",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported content type, or an image that is not a PNG, JPEG, GIF or WebP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many posts, or wrong passwords, from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "507": {
            "description": "NOTEFEED_MAX_FEEDS, NOTEFEED_MAX_NOTES_PER_FEED or NOTEFEED_MAX_IMAGES_PER_FEED reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listNotes",
        "summary": "List a feed's notes",
        "description": "Newest first. A feed with no notes (or that doesn't exist yet) is an empty list.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Notes per page, 1–100",
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Only notes older than this id: the previous page's `next`",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,128}$"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Only notes carrying this tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or reserved feed name, or a bad `limit` / `before`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many wrong passwords from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/feeds/{feed}/notes/{id}": {
      "get": {
        "operationId": "getNote",
        "summary": "Get one note",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The note's id",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,128}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or reserved feed name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many wrong passwords from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editNote",
        "summary": "Edit a note",
        "description": "Replaces the note's markdown; its id and creation time stay, the title follows the new text. Needs the feed's password if it has one, and counts against the post rate limit. Read links can't edit. The body is as for posting: at most 102400 bytes, UTF-8, a `password` field is ignored.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The note's id",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,128}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/markdown": {
              "schema": {
                "type": "string"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostJson"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PostForm"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "image/gif": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The image's bytes: PNG, JPEG, GIF or WebP, recognized by their first bytes, not by the Content-Type"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The note as it is now",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or reserved feed name; empty note; bad JSON, form or UTF-8",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Body over 102400 bytes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported content type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many posts, edits and deletes, or wrong passwords, from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteNote",
        "summary": "Delete a note",
        "description": "Needs the feed's password if it has one, and counts against the post rate limit. The feed stays, even with no notes left. Read links can't delete.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The note's id",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,128}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Invalid or reserved feed name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many posts, edits and deletes, or wrong passwords, from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/feeds/{feed}": {
      "get": {
        "operationId": "getFeed",
        "summary": "Get a feed's settings",
        "description": "The title and description, the title image, whether the feed is protected, and its read link (null while it has no notes). A feed exists once its first note is posted.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or reserved feed name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many wrong passwords from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateFeed",
        "summary": "Change a feed's settings",
        "description": "Replaces both the title (at most 100 characters) and the description (at most 500); surrounding whitespace is trimmed and control characters are refused. `show_sender` (default true) shows who posted each note to readers; omitted leaves it as it is. `read_id` gives the feed another read link (3 to 64 characters: a-z, 0-9, - and _; empty for a random one): the old id is freed and answers like an unknown read id until another feed takes it, and the notes are not edited (a relative image link follows the new id, a full URL does not). A short readable read id is guessable, so protect the feed with a password if that matters. An instance can turn chosen read ids off (NOTEFEED_ALLOW_CUSTOM_IDS=0): then only an empty `read_id` is accepted. `image` is the file name `uploadImage` returned for this feed (title image), empty to remove it, or omitted to leave it as it is; any other value is a 400. Needs the feed's password if it has one, and counts against the post rate limit. Only on a feed that exists: it is created by its first note. Read links can't change settings.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The feed as it is now",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or reserved feed name, bad JSON, a title or description that is too long or has control characters, a malformed read id, a reserved feed's read id, or chosen read ids turned off",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The read id belongs to another feed or is held back for a reserved one",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many posts, edits and deletes, or wrong passwords, from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFeed",
        "summary": "Delete a feed",
        "description": "Deletes the feed with all its notes, its settings, its password and its read link, for good: there is no undo. The name is free again; a feed created there later gets a new read link, and the old one answers like an unknown one. Needs the feed's password if it has one, and counts against the post rate limit.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's own password, when it has one: to post, list or get, and (as the current password) to change or remove it. On the `POST` that creates a feed it sets the feed's password; on a `POST` to an existing feed that has none it answers 409. An empty value is the same as no header, so a `POST` with an empty one creates an open feed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Invalid or reserved feed name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many posts, edits and deletes, or wrong passwords, from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/feeds/{feed}/password": {
      "put": {
        "operationId": "changeFeedPassword",
        "summary": "Change a feed's password",
        "description": "Needs the current password in `X-Feed-Password`. A feed can only get a password when it is created, so an open feed answers 409.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's current password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordJson"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Changed; the old password and unlock cookies stop working"
          },
          "400": {
            "description": "Invalid or reserved feed name, bad JSON, or a new password that is not 1 to 256 printable ASCII characters, with no space at the start or end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The feed has no password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many wrong passwords from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeFeedPassword",
        "summary": "Remove a feed's password",
        "description": "Needs the current password in `X-Feed-Password`. The feed stays, open to anyone who knows its name. An open feed answers 409.",
        "tags": [
          "Feeds"
        ],
        "security": [
          {},
          {
            "password": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "The feed's name. It is the write key: anyone who knows it can post.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "X-Feed-Password",
            "in": "header",
            "required": false,
            "description": "The feed's current password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "400": {
            "description": "Invalid or reserved feed name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The instance has a password, or the feed has its own, and it is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The feed has no password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many wrong passwords from this client",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/read/{readId}": {
      "get": {
        "operationId": "getReadFeed",
        "summary": "Get a feed's title and description by its read id",
        "description": "Public, even on an instance with a password, and never reveals the feed's name. An unknown read id has an empty title and description, so read ids can't be probed.",
        "tags": [
          "Read"
        ],
        "security": [],
        "parameters": [
          {
            "name": "readId",
            "in": "path",
            "required": true,
            "description": "The feed's read id, from its read link: 22 random characters, one the feed's owner chose, or the feed's own name for a reserved feed. Read-only; never reveals the name of any other feed.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The feed's public settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadFeed"
                }
              }
            }
          },
          "404": {
            "description": "Malformed read id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/read/{readId}/notes": {
      "get": {
        "operationId": "listReadNotes",
        "summary": "List a feed's notes by its read id",
        "description": "Public, even on an instance with a password, and never reveals the feed's name. An unknown read id is an empty list, so read ids can't be probed. The same notes as the read link's RSS.",
        "tags": [
          "Read"
        ],
        "security": [],
        "parameters": [
          {
            "name": "readId",
            "in": "path",
            "required": true,
            "description": "The feed's read id, from its read link: 22 random characters, one the feed's owner chose, or the feed's own name for a reserved feed. Read-only; never reveals the name of any other feed.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Notes per page, 1–100",
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Only notes older than this id: the previous page's `next`",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,128}$"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Only notes carrying this tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteList"
                }
              }
            }
          },
          "400": {
            "description": "A bad `limit` / `before`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Malformed read id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/read/{readId}/notes/{id}": {
      "get": {
        "operationId": "getReadNote",
        "summary": "Get one note by its feed's read id",
        "description": "Public, like the read link.",
        "tags": [
          "Read"
        ],
        "security": [],
        "parameters": [
          {
            "name": "readId",
            "in": "path",
            "required": true,
            "description": "The feed's read id, from its read link: 22 random characters, one the feed's owner chose, or the feed's own name for a reserved feed. Read-only; never reveals the name of any other feed.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The note's id",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,128}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "404": {
            "description": "No such note, or a malformed or unknown read id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "This API's OpenAPI document",
        "description": "Generated from the server's route table, with `servers` set to this instance's URL.",
        "tags": [
          "Meta"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Note": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "markdown",
              "image"
            ],
            "description": "What the note is: a markdown text, or a picture (then `markdown` is empty and the picture is the file `file`)"
          },
          "file": {
            "type": "string",
            "description": "The note's file name, `<id>.<extension>`; served under the feed's read id, like the picture of an image note"
          },
          "id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{1,128}$",
            "description": "The note's id: a UTC time to the second plus a random UUID for notes made here; any name without a dot for a file placed by hand"
          },
          "title": {
            "type": "string",
            "description": "The first heading, or the first non-empty line; may be empty"
          },
          "markdown": {
            "type": "string",
            "description": "The note, byte-for-byte as posted"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$",
            "description": "When the note was posted (UTC)"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The note's page in the web UI"
          },
          "sender": {
            "description": "Verified sign-in name of the poster; absent when the note was posted without a sign-in",
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels the poster gave the note (not verified, and shown to readers like the note itself); empty when none"
          }
        },
        "required": [
          "kind",
          "file",
          "id",
          "title",
          "markdown",
          "created_at",
          "url",
          "tags"
        ],
        "additionalProperties": false
      },
      "NoteList": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Note"
            },
            "description": "Newest first"
          },
          "next": {
            "description": "Pass as `before` for the next (older) page; null on the last page",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "notes",
          "next"
        ],
        "additionalProperties": false
      },
      "Created": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{1,128}$"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The note's page in the web UI"
          },
          "feed_url": {
            "type": "string",
            "format": "uri",
            "description": "The feed's page in the web UI"
          },
          "read_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "description": "The feed's read-only RSS link, safe to share; null only if the server can't read the feed's stored read id, or if that id and the derived one both belong to other feeds"
          },
          "file": {
            "description": "For an image note: its file name, `<id>.<extension>`; absent for markdown. Pass it as a feed's `image` setting",
            "type": "string"
          },
          "file_url": {
            "description": "For an image note: where the picture is served, absolute, under the feed's read id (public like the read link); absent for markdown",
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "url",
          "feed_url",
          "read_url"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A short reason, for people"
          },
          "code": {
            "description": "Stable machine-readable code; absent only on a 500",
            "type": "string",
            "enum": [
              "invalid_feed",
              "reserved_feed",
              "auth",
              "rate_limited",
              "too_many_attempts",
              "feed_limit",
              "note_limit",
              "image_limit",
              "empty_note",
              "too_large",
              "unsupported_type",
              "invalid_body",
              "invalid_request",
              "not_found",
              "feed_exists",
              "taken"
            ]
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "PostJson": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "description": "Protects the feed: 1 to 256 printable ASCII characters, with no space at the start or end. Only honored on the post that creates the feed; an existing open feed answers 409. Empty is the same as leaving it out."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels for the note: at most 10 tags, each 1 to 32 characters of letters, digits, `-`, `_`, `.` and `:`; case is folded to lowercase, duplicates are removed. Free labels, not verified, shown with the note (also to readers of the read link and RSS). Ignored when editing a note: an edit keeps its tags."
          },
          "read_id": {
            "description": "The read id the feed gets when this post creates it: 3 to 64 characters (a-z, 0-9, - and _), random when left out or empty, ignored for a feed that exists. A short readable one is guessable: protect the feed with a password if that matters. 409 when it is taken",
            "type": "string"
          }
        },
        "required": [
          "markdown"
        ],
        "additionalProperties": false
      },
      "PostForm": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string",
            "description": "The note; or send a `file` part with an image instead"
          },
          "password": {
            "type": "string",
            "description": "Protects the feed: 1 to 256 printable ASCII characters, with no space at the start or end. Only honored on the post that creates the feed; an existing open feed answers 409. Empty is the same as leaving it out."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels for the note: at most 10 tags, each 1 to 32 characters of letters, digits, `-`, `_`, `.` and `:`; case is folded to lowercase, duplicates are removed. Free labels, not verified, shown with the note (also to readers of the read link and RSS). Ignored when editing a note: an edit keeps its tags."
          },
          "read_id": {
            "description": "The read id the feed gets when this post creates it: 3 to 64 characters (a-z, 0-9, - and _), random when left out or empty, ignored for a feed that exists. A short readable one is guessable: protect the feed with a password if that matters. 409 when it is taken",
            "type": "string"
          }
        },
        "required": [
          "markdown"
        ],
        "additionalProperties": false
      },
      "PasswordJson": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "The new password: 1 to 256 printable ASCII characters, with no space at the start or end"
          }
        },
        "required": [
          "password"
        ],
        "additionalProperties": false
      },
      "FeedSettings": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Display title, at most 100 characters, one line; empty means none (the feed's name is shown)"
          },
          "description": {
            "type": "string",
            "description": "Description, at most 500 characters, one line; may be empty"
          },
          "image": {
            "description": "The file name of an image uploaded to this feed (see uploadImage), shown as the feed's title image; empty removes it, omitted leaves it as it is",
            "type": "string"
          },
          "show_sender": {
            "description": "Whether readers (RSS, the read API and pages) see who posted each note; omitted leaves it as it is, a new feed starts with true",
            "type": "boolean"
          },
          "read_id": {
            "description": "A new read id (3 to 64 characters: a-z, 0-9, - and _), empty for a random one; omitted leaves it as it is. The old read link stops showing this feed, and may later show another one. Notes are not edited: a relative image link (`![](file)`) follows the new id, a full URL keeps the old one and is yours to change. Reserved feeds keep theirs. 409 when it is taken",
            "type": "string"
          }
        },
        "required": [
          "title",
          "description"
        ],
        "additionalProperties": false
      },
      "Feed": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The feed's name"
          },
          "title": {
            "type": "string",
            "description": "Display title, at most 100 characters, one line; empty means none (the feed's name is shown)"
          },
          "description": {
            "type": "string",
            "description": "Description, at most 500 characters, one line; may be empty"
          },
          "protected": {
            "type": "boolean",
            "description": "Whether the feed has its own password"
          },
          "read_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "description": "The feed's read-only RSS link; null while the feed has no notes, or if the server can't read the feed's stored read id"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "description": "The feed's title image (absolute URL, served under the read id), or null"
          },
          "show_sender": {
            "type": "boolean",
            "description": "Whether readers see who posted each note"
          }
        },
        "required": [
          "name",
          "title",
          "description",
          "protected",
          "read_url",
          "image_url",
          "show_sender"
        ],
        "additionalProperties": false
      },
      "ReadFeed": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Display title, at most 100 characters, one line; empty means none (the feed's name is shown)"
          },
          "description": {
            "type": "string",
            "description": "Description, at most 500 characters, one line; may be empty"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "description": "The feed's title image (absolute URL, served under the read id), or null"
          }
        },
        "required": [
          "title",
          "description",
          "image_url"
        ],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "password": {
        "type": "http",
        "scheme": "bearer",
        "description": "The instance password (NOTEFEED_PASSWORD), when one is set"
      }
    }
  }
}
